
<input type="file" class="file-input"
       [accept]="requiredFileType"
       (change)="uploadFile($event)" #fileUpload>


<mat-card class="file-upload">
  <mat-card-content class="mat-elevation-z20">
    <mat-progress-bar class="progress-bar" mode="determinate"
                      [value]="statusInfo!.progress">
    </mat-progress-bar>
    {{message}}
    <mat-icon class="cancel-upload" (click)="cancel()">delete_forever</mat-icon>
    <button mat-mini-fab extended color="primary" class="upload-btn"
    (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>

  </mat-card-content>
</mat-card><br>
